* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Muli", sans-serif;
  color: #11223F;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/bg-main-decor.png);
  }
}

.btn {
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px 0;
}
@media screen and (min-width: 1024px) {
  .page-header {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .page-header__upload-btn {
    width: 180px;
    color: #fff;
    background-color: #1968FC;
  }
}
.page-header__navigation {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-left: 10px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #1968FC;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 540px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
  }
  .nav__text {
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }
}

@media screen and (min-width: 1024px) {
  .headline {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 150px;
  }
}
.headline__content {
  margin: 80px;
}
@media screen and (min-width: 1024px) {
  .headline__content {
    max-width: 600px;
    margin: 0;
  }
}
.headline__title {
  margin: 0;
  padding: 0;
  line-height: 60px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
.headline__description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  line-height: 40px;
}
.headline__upload-btn {
  width: 300px;
  margin-top: 40px;
  color: #fff;
  background-color: #1968FC;
}
.headline__illustration {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .headline__illustration {
    position: absolute;
    right: 0;
    top: 50px;
  }
}

.desktop-invitation {
  position: relative;
  margin-top: -62px;
  padding: 30px 60px;
  background-image: url(../img/bg-please-visit-desktop-site-section.png);
}
@media screen and (min-width: 1024px) {
  .desktop-invitation {
    display: none;
  }
}
.desktop-invitation__text {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 160px;
  }
}

.review {
  position: relative;
  width: 540px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
}
@media screen and (min-width: 1024px) {
  .review {
    margin: 0;
  }
}
.review__avatar-wrapper {
  display: flex;
  align-items: center;
}
.review__avatar {
  height: 100px;
  width: 100px;
}
.review__avatar-description {
  display: inline-block;
  margin-left: 20px;
}
.review__name {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.review__position {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #1967FA;
  opacity: 0.8;
}
.review__decor-quote {
  position: absolute;
  right: 40px;
  top: 40px;
}
.review__text {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .workflow {
    max-width: 1120px;
    margin: 0 auto;
  }
}
.workflow__title {
  margin: 120px 60px 0;
  position: relative;
  line-height: 60px;
  font-size: 30px;
  text-transform: uppercase;
  color: #11223F;
}
.workflow__title::after {
  content: "";
  position: absolute;
  width: 80px;
  left: 0;
  bottom: -12px;
  border-bottom: 2px solid #1968FC;
}
@media screen and (min-width: 1024px) {
  .workflow__title::after {
    left: -40px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow__title {
    margin: 0;
    margin-top: 120px;
  }
}
.workflow__steps {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .workflow__steps {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
.workflow__step {
  margin: 40px auto 0;
}
@media screen and (min-width: 1024px) {
  .workflow__step {
    margin: 0;
  }
  .workflow__step:nth-child(2) {
    margin-top: 40px;
  }
  .workflow__step:nth-child(3) {
    margin-top: 80px;
  }
}

.step {
  position: relative;
  width: 520px;
  padding: 40px;
  background-color: #FFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .step {
    height: 220px;
    width: 320px;
  }
}
.step__subtitle {
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.step__title {
  margin: 0;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1967FA;
}
.step__description {
  margin: 0;
  margin-top: 10px;
  line-height: 30px;
  font-size: 16px;
}
.step__decor-icon {
  position: absolute;
  top: 40px;
  right: 40px;
}
.step__decor-figure {
  position: absolute;
  height: 25px;
  width: 25px;
  right: -5px;
  bottom: -5px;
}
.step:not(:first-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  left: 60px;
  top: -38px;
  background-image: url(../img/img-card-connector-mobile.png);
}
@media screen and (min-width: 1024px) {
  .step:not(:first-of-type)::after {
    width: 70px;
    height: 2px;
    left: -75px;
    top: 70px;
    background-image: url(../img/img-card-connector-line.png);
  }
}

.features {
  max-width: 1120px;
  margin: 0 auto;
}
.features__title {
  margin: 125px 60px 0;
  position: relative;
  line-height: 60px;
  font-size: 30px;
  text-transform: uppercase;
  color: #11223F;
}
.features__title::after {
  content: "";
  position: absolute;
  width: 80px;
  left: 0;
  bottom: -12px;
  border-bottom: 2px solid #1968FC;
}
@media screen and (min-width: 1024px) {
  .features__title::after {
    left: -40px;
  }
}
@media screen and (min-width: 1024px) {
  .features__title {
    margin: 0;
    margin-top: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}
.features__item {
  margin-top: 60px;
  margin: 60px auto 0;
}
@media screen and (min-width: 1024px) {
  .features__item {
    margin: 0;
  }
  .features__item:nth-child(2) {
    margin-top: 40px;
  }
  .features__item:nth-child(3) {
    margin-top: 80px;
  }
}

.feature {
  position: relative;
  width: 520px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .feature {
    height: 290px;
    width: 320px;
  }
}
.feature__title-wrapper {
  display: flex;
  align-items: center;
  background: #F3F7FF;
}
.feature__img {
  height: 80px;
  width: 80px;
}
.feature__title {
  margin: 0;
  padding: 20px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .feature__title {
    line-height: 30px;
  }
}
.feature__description {
  padding: 30px 40px;
  line-height: 30px;
  font-size: 16px;
}
.feature__decor-figure {
  position: absolute;
  height: 25px;
  width: 25px;
  right: -5px;
  bottom: -5px;
}

/*# sourceMappingURL=style.css.map */
